.level__img
{
    width: 24.45vw;
    height: 15.55vw;
    border-radius: 2.34vw;
    margin-top: 1.56vw ;
    margin-left: 0.78vw;
}
.color_1
{
    border: 3px solid #3F9B0B;
    background-color: rgba(63, 155, 11, 0.25);
}
.color_2
{
    border: 3px solid #FF0000;
    background-color: rgba(255, 0, 0, 0.25);
}
.color_3
{
    border: 3px solid #F67306;
    background-color: rgba(247, 115, 6, 0.25);
}
.color_4
{
    border: 3px solid #00FFFF;
    background-color: rgba(0, 255, 255, 0.4);
}


.color_1:hover
{
    box-shadow:  -0.16vw 0.16vw 2vw  #3F9B0B, 0.16vw -0.16vw 2vw #3F9B0B ;
}
.color_2:hover
{
    box-shadow:  -0.16vw 0.16vw 2vw  #FF0000, 0.16vw -0.16vw 2vw #FF0000 ;
}
.color_3:hover
{
    box-shadow:  -0.16vw 0.16vw 2vw  #F67306, 0.16vw -0.16vw 2vw #F67306 ;
}
.color_4:hover
{
    box-shadow:  -0.16vw 0.16vw 2vw  #00FFFF, 0.16vw -0.16vw 2vw #00FFFF ;
}

.levels__title
{
    margin: 2.03vw auto 0vw auto ;
}

.level__button
{
    margin-top: 1.56vw ;
    margin-left: 3.67vw ;
    width: 18.75vw;
    height: 3.13vw;
    border-radius: 0.78vw ;
    text-align: center;
    font: normal 400 1.25vw 'Disket Mono' ;
    cursor: pointer;
}

.button_color__1
{
    border: 0.31vw solid rgba(63, 155, 11, 0);
    transition: all 300ms ease-in-out;
}
.button_color__2
{
    border: 0.31vw solid rgba(255, 0, 0, 0);
    transition: all 300ms ease-in-out;
}

.button_color__3
{
    border: 0.31vw solid rgba(247, 115, 6, 0);
    transition: all 300ms ease-in-out;
}
.button_color__4
{
    border: 0.31vw solid rgba(0, 255, 255, 0);
    transition: all 300ms ease-in-out;
}

.button_color__2:hover
{
    border: 0.31vw solid rgba(255, 0, 0, 1);
}

.button_color__1:hover
{
    border: 0.31vw solid rgba(63, 155, 11, 1);
}

.button_color__3:hover
{
    border: 0.31vw  solid rgba(247, 115, 6, 1);
}
.button_color__4:hover
{
    border: 0.31vw solid rgba(0, 255, 255, 1);
}

@media(max-width: 1280px)
{
    .level__img
    {
        width: 313px;
        height: 199px;
        border-radius: 30px;
        margin: 20px 0px 0px 10px;
    }
    .levels__title
    {
        margin: 30px auto 0px auto ;
    }

    .level__button
    {
        margin-top: 20px ;
        margin-left: 47px ;
        width: 240px;
        height: 40px;
        border-radius: 10px ;
        font: normal 400 16px 'Disket Mono' ;
    }

    .button_color__1
{
    border: 4px solid rgba(63, 155, 11, 0);
    transition: all 300ms ease-in-out;
}
.button_color__2
{
    border: 4px solid rgba(255, 0, 0, 0);
    transition: all 300ms ease-in-out;
}

.button_color__3
{
    border: 4px solid rgba(247, 115, 6, 0);
    transition: all 300ms ease-in-out;
}
.button_color__4
{
    border: 4px solid rgba(0, 255, 255, 0);
    transition: all 300ms ease-in-out;
}

.button_color__2:hover
{
    border: 4px solid rgba(255, 0, 0, 1);
}

.button_color__1:hover
{
    border: 4px solid rgba(63, 155, 11, 1);
}

.button_color__3:hover
{
    border: 4px  solid rgba(247, 115, 6, 1);
}
.button_color__4:hover
{
    border: 4px solid rgba(0, 255, 255, 1);
}
}