h3
{
    text-align: center;
    padding: 0px;
    margin: 0px;
    font: normal 400 2.34vw 'Super Webcomic Bros. (Rus by yakustick)' ;
    width: 100%;
}


.molodezhka__title, .taganka__title, .voikovskaya__title
{
    padding-top: 1.95vw;
}
