.points__timetable
{
    justify-content: space-between;
    display: flex;
    
    padding: 1.95vw 3.13vw;
}

@media(max-width: 1280px)
{
   /*Расписание*/
   .points__timetable
   {
       padding: 25px 40px;
   }
}


@media(max-width: 740px)
{
   /*Расписание*/
   .points__timetable
   {
       padding: 3.38vw 5.41vw;
   }
}