h1
{
    margin: 0px;
    padding: 25px 0px 0px 20px;
    font: normal 400 6.6vw 'Super Webcomic Bros. (Rus by yakustick)' ;
}

.number
{
    
    width: 4.69vw;
    height: 5.47vw;
    padding-left: 3.13vw;
    font: normal 400 7.81vw 'DS Stamper' ;
    color: #FF8500;
}